/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --card-title-color:#353430;
  --main-heading-color: #FFC2E6;
  --secondary-backround-color:#353430;
  --accent-color: #FF8DCB;
  --theme-switch-color: #353430;
  --font-color: #353430;
  --decoration-color: transparent;
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: var(--main-backround-color);
    background-image: url(../images/cover-image-light.png);
    --card-title-color:#353430;
    --main-heading-color: #FFC2E6;
    --secondary-backround-color:#353430;
    --accent-color: #FF8DCB;
    --theme-switch-color: #353430;
    --font-color: #353430;
    --decoration-color: transparent;
  }
}